h1{
	text-align: center;
	font-family: 'Roboto Condesed';
	font-weight: normal;
	font-size: 65px;
	border-bottom: solid;
	border-top: solid;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #E2E8F2;
}
.h1-wrapper{
	text-decoration: none;
	color: black;
}
h2,h3{
	text-align: center;
	font-family: 'Jura', Monaco;
}
.ab_wrapper{
	margin-top: 75px;
}
.ab_h2{
	text-decoration: underline;
}
 .links li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
	margin-right: 20px;
	text-align: center;
}
.links a{
	text-decoration: none;
	font-family: 'Jura', Monaco;
	color: #906A70;
	font-size: 25px;
	font-weight: bold;
}
nav{
	text-align: center;
}
.homepage{
	width: 600px;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
}
div.portfolio figure{
	display: inline-block;
	margin-top: 20px;
	text-align: center;
}
figure{
	text-align: center;
	font-family: 'Jura', Georgia;
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 50px;
}
figure figcaption{
	margin-bottom: 5px;
}
.coffee,.stock,.vegetables,.candy,.chilli-pepper,.bread{
	width: 300px;
	border-style: ridge;
	border-radius: 4px;
	border-color: black;
}
.coffee,.candy{
	height: 223px;
	float: bottom;
}

/*.facebook,.email{
	float:left;
	width: 100px;
}

/*.instagram{
	float: right;
	width: 100px;
	margin-right: 100px;
}
.facebook{
	margin-left: 80px;
}*/

.p_wrapper{
	width: 900px;
}
p{
	font-family: 'Jura', Georgia;
	font-weight: bold;
	text-align: center;
}
.contact_box{
	width: 500px;
	border-style: solid;
	border-radius: 10px;
	height: 220px;
	margin:0 auto;
	margin-top: 50px;
	text-align: center;
}
.email,.facebook,.instagram{
	display: inline-block;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
/* Mozilla Webkit */
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

.homepage
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
     -moz-animation-name:             rotate; 
    -moz-animation-duration:         5s; 
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
}